@charset "UTF-8";
.title1{
	z-index:22;
	margin-top:10%;
}
#outDivWel{
	z-index:18;
	display:flex;
	justify-content:center;
}
.divWel{
	display: inline-block;
	padding: 0 40px 10px 40px;
}
.btnWel{
	 width:180px;
}

